name: Lint YAML files

on:
  push:
    paths:
      - "**/*.yaml"
      - "**/*.yml"
  pull_request:
    paths:
      - "**/*.yaml"
      - "**/*.yml"

jobs:
  lint:
    name: yamllint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML files
        run: yamllint -c .yamllint.yaml .
